[user]
	name = aymeric bouzy
	email = 8168981+aymericbouzy@users.noreply.github.com
	signingkey = 8168981+aymericbouzy@users.noreply.github.com
[commit]
	gpgsign = true
[pull]
	rebase = merges
[core]
	editor = code --wait
	hooksPath = /Users/aymeric/.config/git/hooks
[diff]
	tool = default-difftool
	mnemonicPrefix = true
	renames = copies
	colorMoved = default
	colorMovedWs = allow-indentation-change
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	# shortcuts
	ci = commit --patch
	sw = switch --merge
	rb = !git-rb
	l = log --graph --format=simple
	st = status --short
	d = diff --ignore-space-change
	br = branch
	# common operations
	start = !git-start
	staged = diff --cached
	unstage = reset HEAD --
	wip = stash push --include-untracked
	resume = stash pop --index
	branches = branch -vv
	fixup = commit --patch --fixup
	amend = commit --patch --amend
	publish = push -u
	pr = !git-pr
	base = !git-base
	rename = !git-rename
	ff = !git-ff
	graph = log --graph --format=simple --branches --remotes
	undo = reset HEAD~
[rebase]
	autoStash = true
	autoSquash = true
	forkPoint = true
[push]
	default = current
	followTags = true
[pager]
	log = diffr | less
	show = diffr | less
	diff = diffr | less
[interactive]
  diffFilter = diffr
[rerere]
	enabled = true
[help]
	autocorrect = prompt
[stash]
	showIncludeUntracked = true
[log]
	abbrevCommit = true
	date = human
	follow = true
# [format]
# 	pretty = simple
[pretty]
  simple = %C(auto)%h %C(dim blue)%<(9,trunc)%an %C(dim white)%<(16,trunc)%ar %C(auto)%d %C(reset)%s
[blame]
	coloring = highlightRecent
	date = human
[remote]
	pushDefault = origin
[checkout]
	defaultRemote = origin
[column]
	ui = auto
[branch]
	autoSetupRebase = remote
[merge]
	conflictStyle = zdiff3
	log = 1000
	autoStash = true
[tag]
	sort = -version:refname
	forceSignAnnotated = true
[versionsort]
	suffix = ""
