# secrets
zsh/secrets.zsh
gh/hosts.yml

# gcloud
gcloud

# yarn
yarn/link

# nodemon
configstore/nodemon.json
configstore/update-notifier-nodemon.json
configstore/update-notifier-npm.json
configstore/update-notifier-patch-package.json

# cache
**/node_modules
**/__pycache__
